In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

 #### Scrape billboard hot 100

In [2]:
billboard_top_100 = pd.DataFrame([], columns=['artists', 'songs'])

In [3]:
def scrape_billboard_hot_100(dataset):
    r = requests.get('https://www.billboard.com/charts/hot-100/')
    soup = BeautifulSoup(r.content, 'html.parser')
    song_rows = soup.find_all('div', attrs={'class': 'o-chart-results-list-row-container'})
    for i, row in enumerate(song_rows):
        song = row.find('h3', attrs={'class': 'a-no-trucate', 'id': 'title-of-a-story'})    
        artist =  row.find_all('span', attrs={'class': 'c-label'})[1]

        dataset.at[dataset.shape[0]] = [ artist.get_text(strip=True), 
                                        song.get_text(strip=True)]

In [4]:
scrape_billboard_hot_100(billboard_top_100)

In [5]:
billboard_top_100

                                 artists                    songs
0                            Miley Cyrus                  Flowers
1                                    SZA                Kill Bill
2             PinkPantheress & Ice Spice      Boy's A Liar, Pt. 2
3   Metro Boomin, The Weeknd & 21 Savage                 Creepin'
4                          Morgan Wallen               Last Night
..                                   ...                      ...
95                                   NEW              Slut Me Out
96                  Arcangel & Bad Bunny                 La Jumpa
97                            Hotel Ugly  Shut Up My Moms Calling
98                                   NEW                     Gold
99                         Finesse2Tymes                 Back End

[100 rows x 2 columns]

In [6]:
billboard_top_100.to_csv('billboard_100.csv', index=False)

In [7]:
url1="https://www.offiziellecharts.de/charts/single/for-date-1651096800000"

In [8]:
request_charts1 = requests.get(url1)
request_charts1.status_code

200

In [9]:
request_charts1.content[:100]

b'<!doctype html>\r\n<html prefix="og: http://ogp.me/ns#" class="no-js" xmlns="http://www.w3.org/1999/xh'

In [10]:
soup1 = BeautifulSoup(request_charts1.content, 'html.parser')
print(soup1.prettify()[:3000])

<!DOCTYPE html>
<html class="no-js" lang="de-de" prefix="og: http://ogp.me/ns#" xml:lang="de-de" xmlns="http://www.w3.org/1999/xhtml">
 <meta content="Hier gibt’s die Offiziellen Deutschen Charts in ihrer ganzen Vielfalt. Denn: Hier zählt die Musik." name="description"/>
 <head>
  <script type="text/javascript">
   (function(){   function blockCookies(disableCookies, disableLocal, disableSession){   if(disableCookies == 1){   if(!document.__defineGetter__){   Object.defineProperty(document, 'cookie',{   get: function(){ return ''; },   set: function(){ return true;}   });   }else{   var oldSetter = document.__lookupSetter__('cookie');   if(oldSetter) {   Object.defineProperty(document, 'cookie', {   get: function(){ return ''; },   set: function(v){   if(v.match(/reDimCookieHint\=/)) {   oldSetter.call(document, v);   }   return true;   }   });   }   }   var cookies = document.cookie.split(';');   for (var i = 0; i < cookies.length; i++) {   var cookie = cookies[i];   var pos = cookie.indexOf('=');   var name = '';   if(pos > -1){   name = cookie.substr(0, pos);   }else{   name = cookie;   }   if(name.match(/reDimCookieHint/)) {   document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT';   }   }   }   if(disableLocal == 1){   window.localStorage.clear();   window.localStorage.__proto__ = Object.create(window.Storage.prototype);   window.localStorage.__proto__.setItem = function(){ return undefined; };   }   if(disableSession == 1){   window.sessionStorage.clear();   window.sessionStorage.__proto__ = Object.create(window.Storage.prototype);   window.sessionStorage.__proto__.setItem = function(){ return undefined; };   }   }   blockCookies(1,1,1);   }());
  </script>
  <base href="https://www.offiziellecharts.de/charts/single/for-date-1651096800000"/>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <meta content="Hier gibt’s die Offiziellen Deutschen Charts in ihrer ganzen Vielfalt. Denn: Hier zählt die Musik." name="description"/>
  <meta content="Joomla! - Open Source Content Management" name="generator"/>
  <title>
   Offizielle Deutsche Charts - Offizielle Deutsche Charts
  </title>
  <link href="/templates/gfktemplate/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <style type="text/css">
   #redim-cookiehint-modal {position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 99998; display: flex; justify-content : center; align-items : center;}
  </style>
  <script src="/media/k2/assets/js/k2.frontend.js?v=2.10.3&amp;b=20200429&amp;sitepath=/" type="text/javascript">
  </script>
  <script type="text/javascript">
   function do_nothing() { return; }
  </script>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <link href="/templates/gfktemplate/favicon.ico" rel="shortcut icon"

In [11]:
artist1 = []
for span in soup1.find_all('span', attrs={'class':'info-artist'}):
    artist1.append(span.get_text())

In [12]:
title1 = []
for span in soup1.find_all('span', attrs={'class':'info-title'}):
    title1.append(span.get_text())

In [13]:
charts1 = pd.DataFrame({"artists":artist1,
                        "songs":title1})

charts1

                           artists               songs
0                     Harry Styles           As It Was
1                      Jack Harlow         First Class
2                        Rammstein           Zick zack
3          Miksu / MacLoud & T-Low           Sehnsucht
4                    Glass Animals          Heat Waves
..                             ...                 ...
95                        Art [DE]  Belgisches Viertel
96                        Pashanim     Paris Freestyle
97  Gabry Ponte x Lum!x x Prezioso             Thunder
98               atb x Topic x A7S     Your Love (9PM)
99                        Jnr Choi         To The Moon

[100 rows x 2 columns]

In [14]:
url2="https://www.officialcharts.com/charts/singles-chart/"

In [15]:
request_charts2 = requests.get(url2)
request_charts2.status_code

200

In [16]:
request_charts2.content[:100]

b'\r\n\r\n<!doctype html>\r\n<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->\r\n<!--[if '

In [17]:
soup2 = BeautifulSoup(request_charts2.content, 'html.parser')

print(soup2.prettify()[:3000])

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <title>
   Official Singles Chart Top 100 | Official Charts Company
  </title>
  <meta content="The Official UK Top 40 chart is compiled by the Official Charts Company, based on official sales of sales of downloads, CD, vinyl, audio streams and video streams. The Top 40 is broadcast on BBC Radio 1 and MTV, the full Top 100 is published exclusively on OfficialCharts.com." name="description"/>
  <meta content="Top 40, UK Top 40, Charts, Top 40 UK, UK Charts, UK singles chart, Music Charts, Official UK Top 40, Charts 2012, Hit 40 UK, UK Chart, Official Singles Chart, Official Albums Chart, Number 1, Number One" name="keywords"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <meta content="https://www.officialcharts.com" property="og:image"/>
  <link href="/favicon.ico" rel="shortcut icon"/>
  <link href="//fonts.googleapis.com" rel="dns-prefetch"/>
  <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700" rel="stylesheet" type="text/css"/>
  <link href="/Css/style.css" rel="stylesheet">
   <script src="https://mailer.officialcharts.com/h/d/5C5B2B0228834DED/547A13F72B953763/popup.js" type="text/javascript">
   </script>
   <!-- Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
   <script async="true" type="text/javascript">
    (function() {
  var host = window.location.hostname;
  var element = document.createElement('script');
  var firstScript = document.getElementsByTagName('script')[0];
  var url = 'https://quantcast.mgr.consensu.org'
    .concat('/choice/', 'qFYsnYXTfYNA0', '/', host, '/choice.js')
  var uspTries = 0;
  var uspTriesLimit = 3;
  element.async = true;
  element.type = 'text/javascript';
  element.src = url;

  firstScript.parentNode.insertBefore(element, firstScript);

  function makeStub() {
    var TCF_LOCATOR_NAME = '__tcfapiLocator';
    var queue = [];
    var win = window;
    var cmpFrame;

    function addFrame() {
      var doc = win.document;
      var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

      if (!otherCMP) {
        if (doc.body) {
          var iframe = doc.createElement('iframe');

          iframe.style.cssText = 'display:none';
          iframe.name = TCF_LOCATOR_NAME;
          doc.body.appendChild(iframe);
        } else {
          setTimeout(addFrame, 5);
        }
      }
      return !otherCMP;
    }

    function tcfAPIHandler() {
      var gdprApplies;
      var args = arguments;

      if (!args.length) {
        return queue;
      } else if (args[0] === 'setGdprApplies') {
        if (
          args.length > 3 &&
          args[2] === 2 &&
          type

In [18]:
artist2 = []
for div in soup2.find_all('div', attrs={'class':'artist'}):
    artist2.append(div.get_text().strip())

In [19]:
title2 = []
for div in soup2.find_all('div', attrs={'class':'title'}):
    title2.append(div.get_text().strip())

In [20]:
charts2 = pd.DataFrame({"artists":artist2,
                        "songs":title2})

charts2

              artists            songs
0         MILEY CYRUS          FLOWERS
1      PINKPANTHERESS     BOY'S A LIAR
2                 SZA        KILL BILL
3              MIGUEL       SURE THING
4                REMA        CALM DOWN
..                ...              ...
95  DRAKE & 21 SAVAGE        RICH FLEX
96      GLASS ANIMALS       HEAT WAVES
97          BURNA BOY        LAST LAST
98              JENGI        BEL MERCY
99             WEEKND  BLINDING LIGHTS

[100 rows x 2 columns]

In [21]:
charts = pd.concat([billboard_top_100, charts1, charts2], axis=0)
charts

                                 artists                songs
0                            Miley Cyrus              Flowers
1                                    SZA            Kill Bill
2             PinkPantheress & Ice Spice  Boy's A Liar, Pt. 2
3   Metro Boomin, The Weeknd & 21 Savage             Creepin'
4                          Morgan Wallen           Last Night
..                                   ...                  ...
95                     DRAKE & 21 SAVAGE            RICH FLEX
96                         GLASS ANIMALS           HEAT WAVES
97                             BURNA BOY            LAST LAST
98                                 JENGI            BEL MERCY
99                                WEEKND      BLINDING LIGHTS

[300 rows x 2 columns]

In [22]:
charts = charts.drop_duplicates()
charts.reset_index()

     index                               artists                songs
0        0                           Miley Cyrus              Flowers
1        1                                   SZA            Kill Bill
2        2            PinkPantheress & Ice Spice  Boy's A Liar, Pt. 2
3        3  Metro Boomin, The Weeknd & 21 Savage             Creepin'
4        4                         Morgan Wallen           Last Night
..     ...                                   ...                  ...
294     95                     DRAKE & 21 SAVAGE            RICH FLEX
295     96                         GLASS ANIMALS           HEAT WAVES
296     97                             BURNA BOY            LAST LAST
297     98                                 JENGI            BEL MERCY
298     99                                WEEKND      BLINDING LIGHTS

[299 rows x 3 columns]

In [23]:
recommend_song = input("enter a song name: ")

if recommend_song in list(charts['songs']):
    print("Your choice is: ")
    display(charts.loc[lambda charts: charts['songs'] == recommend_song])
    print("and our recommendation is:")
    display(charts.sample())
else:
    print("no recommendation")

enter a song name: Last Night
Your choice is:

         artists       songs
4  Morgan Wallen  Last Night

and our recommendation is:

   artists  songs
58    Gzuz  Späti